<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecepcionBodega.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RecepcionBodega.Properties.Settings>
            <setting name="fuente_letra" serializeAs="String">
                <value>Corbel, 15.75pt</value>
            </setting>
            <setting name="color_ventana" serializeAs="String">
                <value>233, 233, 233</value>
            </setting>
            <setting name="color_fuente" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="color_menu" serializeAs="String">
                <value>115, 12, 118</value>
            </setting>
            <setting name="color_fuente_menu" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="dbconnection" serializeAs="String">
                <value>SERVER=localhost;DATABASE=bodega;UID=root;PASSWORD=;</value>
            </setting>
        </RecepcionBodega.Properties.Settings>
    </userSettings>
</configuration>